* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding-top: 8rem;
    padding-bottom: 6rem
}
/* 
#222831
#393E46
#FFD369
EEEEEE
*/
#nav-color{
    background-color: #222831;
}
.nav-link{
    color: #EEEEEE;
}
#hero{
    background-color: #EEEEEE;
    color: #222831;
}
#hero h5{
    color : #393E46;
}
#about{
    background-color: #393E46;
    color:#EEEEEE;
}
#project {
    background-color: #EEEEEE;
    color: #222831;
}
#skill{
    background-color: #393E46;
    color:#EEEEEE;
}
#service{
    background-color: #EEEEEE;
    color: #222831;
}
#contact{
    background-color: #393E46;
    color:#EEEEEE;
}
footer{
    background-color: #393E46;
    color:#EEEEEE;
}
.btn-cv{
    background-color : #222831;
    color: #EEEEEE;
}
.btn-hire{
    background-color: #FFD369;
}
.progress-color{
    background-color: #FFD369;
    color: #222831
}

.overlay{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
}

.card-overlay:hover .overlay {
    opacity: 1;
}

